<link rel="stylesheet" href="/public/css/reset/style.css">
<link rel="stylesheet" href="/public/css/components/header/style.css">
<header id="header">
    <h1 id="site-name">Mustafa Dalkılıç</h1>
    <ul id="header-link-menu">
        <li><a href="/">Anasayfa</a></li>
        <li><a href="/about">Hakkımda</a></li>
        <li><a href="/contact">İletişim</a></li>
        <li><a href="/public/mustafa-dalkilic.pdf" download><span>C</span><span>V</span></a></li>
    </ul>
</header>