<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/about/style.css">
    <title><%- title %></title>
</head>
<body>
    <%- include('./components/header'); -%>
    <div id="about">
        Merhaba Ben Mustafa 22.08.2000 İstanbul Doğumluyum İstanbul'da Yaşamaktayım Meslek Lisesi Makine Alanından Mezunum Alanımda 6 Ay Staj Yaptıktan Sonra 2 Sene Perakende Sektöründe Çalıştım Ve Şuanda Bir Metal Üretim Fabrikasında Çalışmaktayım 1 Senedir Yazılım Alanında Kendimi Geliştirmekteyim İlgilendiğim Teknolojiler 
        <ul style="color:red ;">
            <li>HTML</li>
            <li>CSS</li>
            <li>JAVASCRIPT</li>
            <li>REACTJS</li>
            <li>NODEJS</li>
            <li>EXPRESSJS</li>
            <li>MONGODB</li>
            <li>PYTHON</li>
            <li>SQL</li>
            </ul> Bu Alanda Kendimi Halen Geliştirmekteyim
    </div>
</body>
</html>