<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/contact/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title><%- title %></title>
</head>
<body>
    <%- include('./components/header'); -%>
    <main id="main">
        <div id="mail-container">
            <h1>Mail Formu</h1>
            <form id="mail-form" action="">
                <input type="text" placeholder="İsminiz"  required>
                <input type="email" placeholder="E-mail Adresiniz" required>
                <textarea name="" placeholder="Konu" id="" cols="30" rows="25" required></textarea>
                <input type="submit" value="Mail Gönder">
            </form>
        </div>
        <div id="contact-number">
            <a id="whatsapp" href="https://wa.me/+905541770844">
                <i class="fa-brands fa-whatsapp"></i>
                <span>+90 554 177 08 44</span>
            </a>
            <a id="telephone" href="tel:+905541770844">
                <i class="fa-solid fa-phone"></i>
                <span>+90 554 177 08 44</span>
            </a>
        </div>
    </main>
</body>
</html>