<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/main/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title><%- title %></title>
</head>
<body>
    <%- include('./components/header'); -%>
    <main id="main">
        <div id="skills-container">
            <h1>İlgilendiğim Veritabanları Diller Kütüphaneler ve Framework'ler</h1>     
            <ul id="skills">
                <li><img src="/public/images/html+css.png" alt="html css"></li>
                <li><img src="/public/images/javascript.png" alt="javascript"></li>
                <li><img src="/public/images/react.png" alt="reactjs"></li>
                <li><img src="/public/images/nodejs.png" alt="nodejs"></li>
                <li><img src="/public/images/expressjs.png" alt="expressjs"></li>
                <li><img src="/public/images/mongodb.png" alt="mongodb"></li>
                <li><img src="/public/images/mysql.png" alt="mysql"></li>
                <li><img src="/public/images/python.png" alt="python"></li>
            </ul>
        </div>
        <div id="projects-container">
            <h1>Projelerim</h1>
            <ul id="projects">

            </ul>
        </div>
        <div id="social-media-container">
            <h1>Sosyal Medya Hesaplarım</h1>
            <ul id="social-media">
                <li><a href="https://github.com/MustafaD3"><i class="fa-brands fa-github"></i></a></li>
                <li><a href="https://github.com/MustafaD3"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="https://github.com/MustafaD3"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="https://github.com/MustafaD3"><i class="fa-brands fa-twitter"></i></a></li>
            </ul>
        </div>
    </main>
    <script src="/public/js/main.js" type="module"></script>
</body>
</html>