#main{
    padding: 1em;
    #skills-container{
        display: flex;
        flex-direction:column;
        align-items: center;
        gap: 2em;
        h1{
            font-family: var(--secondary-font);
        }
        #skills{
            width: 60%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 2em;
            li{
                width: 23%;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 100%;
                    object-fit: contain;
                }
            }
        }
    }
    #projects-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top: 1px solid var(--primary2-color) ;
        padding: 1em 0px;
        gap: 0.5em;
        h1{
            font-family: var(--secondary-font);
        }
        #projects{
            display: flex;
            gap: 0.8em;
            li{
                border: 1px solid var(--primary2-color);
                padding: 1em;
                width: 350px;
                height:350px ;
                text-align: center;
                border-radius: 8px;
                a{
                    font-size: 1.2em;
                    color: var(--primary-color);
                    font-family: var(--secondary-font);
                    line-height: 310px;
                
                }
            }
        }
    }
    #social-media-container{
        padding: 1em 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
        margin: 0px auto;
        border-top: 1px solid var(--primary2-color) ;
        h1{
            font-family: var(--secondary-font);
        }
        #social-media{
            display: flex;
            gap: 1.5em;
            li{
                a{
                    i{
                        font-size: 3.5em;
                        color: var(--primary-color);
                    }
                }
                &:nth-child(1):hover{
                    a{
                        i{
                            color: #967bb6;
                        }
                    }
                }
                &:nth-child(2):hover{
                    a{
                        i{
                            background: linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }
                    }
                }
                &:nth-child(3):hover{
                    a{
                        i{
                            color: #3b5998;
                        }
                    }
                }
                &:nth-child(4):hover{
                    a{
                        i{
                           color: #00acee;
                        }
                    }
                }
            }
            
        }
    }
}